
#header1{
  display: flex;
  justify-content: space-between;
  margin: 22px 0 21px 0;
}

#main-h1{
  margin-top: 20px;
}
#main-btn{
  margin-top: 36px;
}
#backdrop{
  display: none;
}
#emptyMessage{
  display: grid;
  place-items: center;
  color: #a4a9ad;
}
.icon-btn{
  border: none;
  background: none;
  color: #dc3545;

}
.icon-btn:hover{
  cursor: pointer;
}
.icon-btn1{
  border: none;
  background: none;
  color: #007bff;

}
.icon-btn1:hover{
  cursor: pointer;
}
#TotalsDiv{
  display: flex;
  padding: 10px 10px 10px 0;

} 
#TotalInc{
  margin-left: 10px;
}  
#searchDiv{
  display: flex;
  justify-content: flex-start;
  margin: 15px ;
}
#ExpenseForm{
display: flex;
}
#searchBtn{
  margin-left: 12%;
}


#ELV-col-1{
  padding: 5% 0 0 0;
  /* border: 1px solid #000;
  border-radius: 5px; */
}
#summary{
  background-color: #212529;
  color: #fff;
  padding: 5px;
}
